<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicalstructureapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_surround_sound"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_surround_sound"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllMusicActivity"
            android:label="@string/label_allMusic"
            android:parentActivityName=".MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".GenreActivity"
            android:label="@string/string_genre"
            android:parentActivityName=".AllMusicActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AllMusicActivity"/>
        </activity>
        <activity
            android:name=".AlbumActivity"
            android:label="@string/string_album"
            android:parentActivityName=".AllMusicActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AllMusicActivity"/>
        </activity>
        <activity
            android:name=".ArtistActivity"
            android:label="@string/string_artist"
            android:parentActivityName=".AllMusicActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AllMusicActivity"/>
        </activity>
    </application>

</manifest>